.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: -webkit-linear-gradient(
    to bottom,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.movie {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.icon {
  margin: 15px;
  font-size: 1.7rem;
}

.delete-icon:hover {
  color: red;
}
.edit-icon:hover {
  color: yellow;
}

.genre {
  font-size: 1rem;
  margin-left: 10px;
}

.movie-title {
  display: flex;
  align-items: center;
}
