@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.btn {
  font-size: 1.5rem;
  padding: 1rem 1.7rem;
  cursor: pointer;
  background-color: #0a122a;
  color: #fbfaf8;
  outline: none;
  border: none;
}
